.idea/
.git/
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
*.egg
.venv/
venv/
.tox/
.mypy_cache/
.pytest_cache/
.ruff_cache/
htmlcov/
.coverage
*.so

# ALL dotfiles (except important ones)
.*
!.gitignore
!.redup/
